<style>
	
	.leftside{
		width: 15%;
		background-color: #39db59;
		float: left;
		height: 100%;
		display: inline-block;
		position: relative;


	}

	.leftside:before{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		-moz-box-shadow:    inset 0 0 10px 1px #000000;
	   -webkit-box-shadow: inset 0 0 10px 1px #000000;
	   box-shadow:         inset 0 0 10px 1px #000000;
		z-index: 0;
	}

	.side-header{
		
		text-align: center;
		padding-top: 30px;
		padding-bottom: 10px;
		width: 100%;

	}
	.side-header p{
		font-size: 30px;
		color: white;
		text-shadow: 0 0 5px black;
		font-weight: 700;
		margin-bottom: 0;
	}

	.side-content p{
		font-size: 18px;
		position: relative;
		margin-left: 20px;
		margin-bottom: 3px;
		font-weight: 700;
		color: white;
		text-shadow: 0 0 5px black;
		transition-duration: 100ms;
	}

	.tower{
		position: absolute;
		display: block;
		background-color: #4286f4;
		border: 2px ridge #102b56;
		bottom: 0;
		animation: growTower 1.5s linear;
		box-shadow: 0 0 0px 0px black;
		transition-duration: 100ms;
		z-index: 2;
	}

	.line{
		display: block;
		background-color: #4f4f4f;
		position: absolute;
	}
	.line p{
		position: absolute;
		font-size: 15px;
		font-weight: 700;
	}
	.data-left{
		left: -20px;
		top: 50%;
		transform: translate(0, -50%);
	}
	.data-under{
		bottom: -40px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	@keyframes growTower {
	  from {height: 0;}
	  to {height:var(--height);}
	}

	.tower:hover{
		cursor: pointer;
		z-index: 5;
		box-shadow: 0 0 5px 3px #00faff;
	}



	.tower:hover:after{
		content: attr(text);
		position: relative;
		top: 50%; 
		right: -35px;
		width: 200px;
		text-align: center;
		display: block;
		z-index: 200;
		padding: 5px 5px 5px 5px;
		color: white;
		background-color: black;
		white-space: pre-wrap;
		min-height: 60px;

		border: 2px solid white;
		box-shadow: 2px 2px 5px 2px black;
		max-height: 300px;

		overflow-y: auto;
		overflow-x: hidden;

	}


</style>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="wrapper" class="wrapper" style="position: relative;">


	<div id="left-side" class="leftside">

		<div class="side-header">
			<p>Tiedot</p>
		</div>


		<div class="side-content">
			<p>Yhteensä käyttäjiä: <%= clients %> kpl</p>
			<p>Paikalla: <%= currentIn %> kpl</p>
			<p>Päivän kirjautumiset: <%= fullDayLoggins %> kpl</p>
			<p>Uloskirjautuneet: <%= fullDayLoggins - currentIn %> kpl</p>
		</div>

		<div class="side-content" style="margin-top: 20px;">
			<p>Päivien täyttymisprosentti (7pv) : <%= EST %>%</p>
		</div>

	</div>
	<div style="width: 85%; height: 100%; display: inline-block; z-index: 666; text-align: center; position: relative;">
		<p style="font-size: 24px; font-weight: 700; margin-top: 50px;">KIRJAUTUMISET (30PV)</p>			
			<div id="curve_chart" style="width: 1000px; height: 500px; left: 50%; position: relative; transform: translate(-50%, 0);"></div>
	</div>


</div>



<script type="text/javascript">
	






function FixWrapper(){

	var wrapper = document.getElementById("wrapper");
	var nav = document.getElementById("nav-bar");

	var height = window.innerHeight - nav.offsetHeight;

	wrapper.style.height = height+"px";


}

document.onload = FixWrapper();




</script>


<script type="text/javascript">



    var chart = document.getElementById('curve_chart');

    var oneDataLenght;
    var oneDataOffset;
    
	var width = chart.offsetWidth;
	var height = chart.offsetHeight - 10;
	var maxHeight = 0;
    var data = [];
    <% for(var x = 1; x < chartData.length; x++) { %>

    	var d = [];
    	d.push(<%=chartData[x][0]%>);
    	d.push(<%=chartData[x][1]%>);
    	var usr = [];
    	<% for(var y = 0; y < chartData[x][2].length; y++) { %>
    		usr.push("<%= chartData[x][2][y] %>");
    	<% } %>
    	d.push(usr);
    	data.push(d);
    <% } %>

    console.log(data);


    var oneDataHeight;



    function LoadChart(content, type){
    	SetSize();
    	LoadBGLines();
    	TowerCreator();
    }

    function LoadBGLines(){
    	for(var i = 0; i <= maxHeight; i++){
    		if(maxHeight < 15 || i % 2 == 1)
    			AddLine(0, i*oneDataHeight, width+"px", "1px", i, "data-left");
    	}

    	for(var i = 0; i < data.length; i++){
    	
    		if(i % 2 == 1){
    			AddLine(i*oneDataLenght + (oneDataLenght / 2), 0, "1px", (height+8)+"px", data[i][0], "data-under");
    		}
    	}

    }

    function SetSize(){
    

    	oneDataLenght = width / 30;

    	oneDataOffset = oneDataLenght / 15;


    	
    	for(var i = 0; i < data.length; i++){
    		if(data[i][1] > maxHeight){
    			maxHeight = data[i][1];
    		}
    	}
    	oneDataHeight = height / maxHeight;

    	console.log(oneDataHeight);
    	console.log(maxHeight);

    }


    function TowerCreator(){

    	for(var i = 0; i < data.length; i++){
    		var positionX = i*oneDataLenght;
    		var h = data[i][1] * oneDataHeight;
    		if(h < 10)
    			h = 10;
    		var usr = "";
    		console.log("DATA[2]: " + data[i][2])
    		for(var j = 0; j < data[i][2].length;j++){
    			usr+=data[i][2][j];
    			if(j < data[i][2].length-1)
    				usr+="\n";
    		}
    		AddTower(h,positionX,"Päivä: "+ data[i][0] + "\nKirjautumiset: " + data[i][1] + "\n\nKäyttäjät:\n" + usr);
    	}

    }


	/* DRAW FUNCTIONS */

    function AddLine(positionX, positionY, w, h, data, pclass){
    	var div = document.createElement('div');
    	div.classList.toggle('line');
    	div.style.setProperty('height', h);
    	div.style.setProperty('width', w);
    	div.style.setProperty('left', positionX);
    	div.style.setProperty('bottom', positionY);

    	var p = document.createElement('p');
    	p.classList.toggle(pclass);
    	p.innerHTML = data;
    	div.appendChild(p);

    	chart.appendChild(div);
    }

    function AddTower(h, positionX, amount){

    	var div = document.createElement('div');
    	div.classList.toggle('tower');
    	div.style.setProperty('--height', h);
    	div.style.setProperty('height', h);
    	div.style.setProperty('left', positionX);
    	div.style.setProperty('width', oneDataLenght);

    	div.setAttribute("text", amount);
    	chart.appendChild(div);

    }





document.onload = LoadChart('kirjautumiset', 'tower'); 






  </script>