<meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />
<link rel="stylesheet" type="text/css" href="http://<%=IP%>:<%=PORT%>/file/css/statistic.css">


<div id="wrapper" class="wrapper" style="position: relative;">


	<div id="left-side" class="leftside">

		<div class="side-header">
			<p>Tiedot</p>
		</div>


		<div class="side-content">
			<p id="useramount">Yhteensä käyttäjiä: ??? kpl</p>
			<p id="currentin">Paikalla: ??? kpl</p>
			<p id="dayloggins">Päivän kirjautumiset: ??? kpl</p>
			<p id="dayloggouts">Uloskirjautuneet: ??? kpl</p>
		</div>

		<div class="side-content" style="margin-top: 20px;">
			<p id="successprosent">Täyttymisprosentti (7pv) : ???%</p>
			<p id="missing">Poissaolot (7pv) : ???kpl</p>
		</div>

		<div class="side-content" style="position: absolute; bottom: 30px;">
			<p style="font-size: 1.2vw; position: relative; left: 50%; transform: translate(-50%, 0);">HAKU ASETUKSET</p>
			<p style="font-size: 1.0vw;">FILTERIT</p>
			<p style="font-size: 0.9vw">Vuoro:</p>
			<div style="display: inline-block; margin-left: 25px;" class="styled-select">
				<select id="shift" name="shift" value="">
					<option value="-" selected>Kaikki</option>
					<% if(shifts) { %>
						<%  for(var i = 0; i < shifts.length; i++) { %>
							<option value="<%= shifts[i][0] %>"><%= shifts[i][0] %></option>
						<%}%>
					<%}%>
		  		</select>
		  	</div>
			<p style="margin-top: 15px; font-size: 14px;">HAE AJALTA</p>
			<p style="font-size: 12px">Mistä:</p>
				<input id="start" style="margin-left: 25px; z-index: 999;" type="date" name="startDay" value="">
			<p style="font-size: 12px">Mihin:</p>
				<input id="end" style="margin-left: 25px;" type="date" name="endDay">


			<button class="btn" style="width: 200px; margin-top: 15px; margin-left: 25px;" onclick="ReloadStatistic();">Hae</button>
		</div>

	</div>
	<div style="width: 85%; height: 100%; display: inline-block; z-index: 666; text-align: center; position: relative;">
		<p style="font-size: 24px; font-weight: 700; margin-top: 50px;">KIRJAUTUMISET</p>			
			<div id="curve_chart" style="width: 1000px; height: 500px; left: 50%; position: relative; transform: translate(-50%, 0); z-index: 300;"></div>
			<div style="position: absolute; left: 50%; top: 630px; transform: translate(-50%, 0); text-align: center;"><p style="font-weight: 700; font-size: 18px; z-index: 300">PÄIVÄMÄÄRÄ</p></div>
			<div style="position: absolute; left: 210px; transform: rotate(-90deg); top: 300px; height: 50px;  text-align: center;"><p style="font-weight: 700; font-size: 18px;">KIRJAUTUMISET</p></div>
	</div>


</div>

<div id="loading" class="">
	
</div>



<script type="text/javascript">
	
	var LoadStatData = function LoadStatData(next, endDay, startDay){

	document.getElementById('loading').classList.toggle('loading', true);
	var request =  new XMLHttpRequest();
	var url = 'http://<%=IP%>:<%=PORT%>/admin/statistic/stats';
	request.open("POST", url,true);
	request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	var params = "endDay="+endDay+"&startDay="+startDay;

	var filterShift = document.getElementById("shift").value != "-" ? document.getElementById("shift").value : null;
	var filterCreation = true;
	var Filter = new Filters(filterShift, filterCreation);
	params += "&filter="+JSON.stringify(Filter);

	console.log(params);

	request.onreadystatechange = function() {
	   	if(request.readyState == 4 && request.status == 200) {
	    	var response = JSON.parse(request.responseText);
	    	document.getElementById("useramount").innerHTML = "Yhteensä käyttäjiä: "+response.clients+"kpl";
	    	document.getElementById("currentin").innerHTML = "Paikalla: "+response.currentini+"kpl";
	    	document.getElementById("dayloggins").innerHTML = "Päivän kirjautumiset: "+response.currentinb+"kpl";
	    	document.getElementById("dayloggouts").innerHTML = "Uloskirjautuneet: "+response.currentino+"kpl";
	    	document.getElementById("successprosent").innerHTML = "Täyttymisprosentti: "+response.Estimate+"%";
	    	document.getElementById("missing").innerHTML = "Poissaolot: "+response.missing+"kpl";

	    	next(endDay, startDay);
	    }
	}

	request.send(params);
}
var LoadChartData = function LoadChartData(endDay, startDay){
	var request =  new XMLHttpRequest();
	var url = 'http://<%=IP%>:<%=PORT%>/admin/statistic/chartData';
	request.open("POST", url,true);
	request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	var params = "endDay="+endDay+"&startDay="+startDay;

	var filterShift = document.getElementById("shift").value != "-" ? document.getElementById("shift").value : null;
	var filterCreation = true;
	var Filter = new Filters(filterShift, filterCreation);
	params += "&filter="+JSON.stringify(Filter);

	request.onreadystatechange = function() {
	    if(request.readyState == 4 && request.status == 200) {
	    	missing = request.responseText;
	    	console.log("RESPONSE? " + request.responseText);
	    	data = JSON.parse(request.responseText);
	    	LoadChart();

	    	document.getElementById('loading').classList.toggle('loading', false);

	    }
	}

	request.send(params);
}

</script>
<script src="http://<%=IP%>:<%=PORT%>/file/js/statistic.js" type="text/javascript"></script>